body {
    font-family: 'League Spartan', sans-serif;  
    background-color: #ddddcd;
}

.col1 {
    height: 600px;
}

.col2 {
    padding-left: 20px;
    height: 600px;
}

.container {
    margin-top: 200px;
    align-self: center;
}


.fit-image{
    width: 100%;
    object-fit: cover;
    }


.col3 {
    height: 368px;
    width: 368px;
    border: 1px solid;
}



